{% extends 'layout_logo.htm' %}


{% block head %}
<style>
.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}






</style>
{% endblock %}
{% block container %}


<div style="margin-left: 50px">
    <p><br clear="all"/></p>
    <p><br clear="all"/></p>
    <p><br clear="all"/></p>
    <p><br clear="all"/></p>
    <p><br clear="all"/></p>
    <p><br clear="all"/></p>
    <p><br clear="all"/></p>
    <p><br clear="all"/></p>
    <p><br clear="all"/></p>
    <p><br clear="all"/></p>
    <p><br clear="all"/></p>
    <p><br clear="all"/></p>
    <p><br clear="all"/></p>
    <p><br clear="all"/></p>
    <p><br clear="all"/></p>
    <p><br clear="all"/></p>
    <p><br clear="all"/></p>
    <p><br clear="all"/></p>
    <p><br clear="all"/></p>
    <p><br clear="all"/></p>
    <p><br clear="all"/></p>
    <p><br clear="all"/></p>
    <h2 class="text-right" style=" font-size:28px">{{user.NAME}}<br>
        {{user.EMAIL}}
    </h2>

</div>

{% endblock %}